.App {
  text-align: center;
}

.cart-wrapper{
  float: left;
  padding: 10px;
  border: 2px solid brown;
  border-width: 20px;
  margin-left: 30px;
}

.btn-wrapper button{
  color: white;
  background-color: blueviolet;
  width: 100px;
}

.add-to-cart{
  position: relative;
}
